input[type="number"] {
	width: 4em;
}

input[type="text"] {
	width: 6em;
}

label {
	display: inline-block;
	width: 90px;
	text-align:right;
}

.advanced > label {
	display: inline-block;
	width: 100px;
	text-align:right;
}

.emitter.advanced {
	display: none;
}

canvas {
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
}

#toolbar {
	position:fixed;
	background-color: grey
}

#sprite-menu {
	display: none;
}
