input[type="number"] {
	width: 4em;
}

input[type="text"] {
	width: 10em;
}

label {
	display: inline-block;
	width: 110px;
	text-align:right;
}

#canvas-app {
	position:absolute;
}

#toolbar {
	position:fixed;
}

#sprite-menu {
	display: none;
}

pre {
	white-space: pre-line;
	width: 60%;
 }